<?xml version="1.0" encoding="UTF-8"?>
<!-- scan 当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。-->
<configuration scan="true" scanPeriod="60 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--CONSOLE LOG-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProfile name="prod">
        <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/all.log</File>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/%d{yyyyMM,aux}/%d{yyyyMMdd}-all.zip</fileNamePattern>
            </rollingPolicy>
        </appender>
        <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <File>${LOG_PATH}/error.log</File>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/%d{yyyyMM,aux}/%d{yyyyMMdd}-error.zip</fileNamePattern>
            </rollingPolicy>
        </appender>
        <root level="info">
            <appender-ref ref="ALL"/>
            <appender-ref ref="ERROR"/>
        </root>
    </springProfile>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>