<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 使用jdbc的getGeneratedKEYS 获取数据库自增主键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 开启驼峰命名转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--日志输出sql语句-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <package name="com.lazycece.sbac.mysql.data.domain"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                     javaType="com.lazycece.sbac.mysql.data.domain.Status"/>
    </typeHandlers>
<!--    <mappers>-->
<!--        <package name="com.lazycece.sbac.mysql.data.dao.*.mapper"/>-->
<!--    </mappers>-->
</configuration>